/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

#main-content {
    position: relative;
    top: 15px;
}

#home-intro {
    background: url(Images/home_intro.jpg) no-repeat;
    background-size: cover;
    color: #FFF;
}

#logo {
    margin-top: -8px;
    vertical-align: middle;
}

.form-control-tweak {
    width: 280px;
}

.search-form-tw {
    overflow: hidden;
}

.search-form-tw .form-group {
    float: left;
    width: 300px;
    margin-right: 25px;
}

.search-form-tw label {
    margin-left: 10px;
}

#main-grid table {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    border: none;
}

#main-grid thead {
    font-weight: bold;
}

#main-grid td, #main-grid th {
    border: none;
    padding: 7px 9px;
}

#main-grid tr:hover {
    background: #e5e5e5;
    cursor: pointer;
}

#main-grid th {
    border-bottom: 2px solid #bbbbbb;
}

#main-grid tr:first-child:hover, #main-grid tr:last-child:hover {
    background: #FFF;
}

#main-grid tr:last-child td[colspan="5"] td {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

.starImage {
    display: inline-block;
    margin: 15px 0px;
    padding: 0;
    width: 40px;
}

.inline-heading {
    display: inline-block;
    margin: 20px 0;
    padding: 0;
}

.nights-top-margin {
    margin-top: 20px;
}

.booking-det-value {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#place-stars {
    margin: 8px 0 0 5px;
}